<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/movieInfo.css">
</head>

<body>
    <div class="container">
        <img src="{{poster_path}}" class="movie_img" />

        <div class="card">
            <h1>{{original_title}}</h1>
            <p>{{sinopse}}</p>
            <a href="{{homepage}}" target="_blank">Website</a>
            <p>{{release_date}}</p>
            <p>{{vote_average}}</p>
            <p>{{vote_count}}</p>

            <button class="goBack">Retroceder</button>
        </div>

    </div>
</body>

<script src="assets/js/goBack.js"></script>

</html>