<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/tmdb.css">
    <link rel="stylesheet" href="/assets/css/searchResult.css">
</head>

<body>
    <div class="container">
        <div class="form_login">
            <h1>{{original_title}}</h1>
            <h1>{{sinopse}}</h1>
            <h1>{{homepage}}</h1>
            <h1>{{poster_path}}</h1>
            <h1>{{release_date}}</h1>
            <h1>{{vote_average}}</h1>
            <h1>{{vote_count}}</h1>
        </div>
        
        <div class="tmdb_result"></div>
    </div>
</body>

</html>