<div class="card">
    <div class="card_info">
        <h2 class="card_userMovieName">{{userMovieName}}</h2>
        <p class="card_original_title">Titulo original: {{original_title}}</p>
        <p class="card_sinopse">Sinopse: {{sinopse}}</p>
        <p class="card_idOnTMDB">ID no TMDB: {{idOnTMDB}}</p>
        <p class="card_release_date">Data de lançamento: {{release_date}}</p>
        <p class="card_vote">{{vote_average}}</p>
        <p class="card_vote">{{vote_count}}</p>
    </div>
    <div class="card_img">
        <img src="{{poster_path}}" alt="" class="card_">
    </div>
</div>